.notClose{
    filter: opacity(0%);
}

/******MAIN******/
    .mainProject{
        z-index: 30;
        position: relative;
        background: yellow;
        width: 7rem;
    }

    .mainMoveRight{
        animation: mainMoveRight 1s normal;
    }
    .mainMoveLeft{
        animation: mainMoveLeft 1s normal;
    }

    @keyframes mainMoveLeft {
        from {
            z-index: 30;
            position: relative;
            top: 0px;
            right: 0px;
        }

        to {
            z-index: 20;
            position: relative;
            top: 0.25rem;
            right: 12rem;
            rotate: -2deg;
        }
    }
    @keyframes mainMoveRight{
        from {
            z-index: 30;
            position: relative;
            top: 0px;
            left: 0px;
        }

        to {
            z-index: 20;
            position: relative;
            top: 0.25rem;
            left: 12rem;
            rotate: 2deg;
        }
    }
/**************************************/


/****** CLOSE1 ******/
    .closeToMain{
        filter: opacity(65%);
        z-index: 20;
        width: 6rem;
    }


        /* LEFT */
        .card_lado_esquerdo.closeToMain{
            bottom: -0.1rem;
            transform: skew(0deg, 3deg);
        }
        
        .card_lado_esquerdo.closeToMain.leftTocard_lado_direito1{
            transition: all;
            animation: closeLeftToRight 1s normal;
        }
        @keyframes closeLeftToRight {
            from {
                z-index: 20;
                position: relative;
                bottom: -0.3rem;
                left: 0rem;

                bottom: -0.1rem;
                border-top: 0.4rem solid transparent;
                border-bottom: 4.6rem solid;
                border-right: 5rem solid;
            }
            to {
                z-index: 30;
                position: relative;
                bottom: 0.20rem;
                left: 12rem;

                bottom: 0rem;
                border-top: 3rem solid;
                border-bottom: 2rem solid;
                border-right: 4rem solid;
                border-left: 4rem solid;
            }
        }
        /*********/


        /* RIGHT */
        .card_lado_direito.closeToMain{
            transform: skew(0deg, -3deg);
        }

        .card_lado_direito.closeToMain.leftTocard_lado_direito1{
            transition: all;
            animation: closeLeftToRight 1s normal;
        }
        .card_lado_direito.closeToMain.rightTocard_lado_esquerdo1{
            transition: all;
            animation: closeLeftToRight 1s normal;
        }

        @keyframes closeRightToLeft {
            from {
                z-index: 20;
                position: relative;
                bottom: -0.3rem;
                right: 0rem;
                transform: scale(0deg);
            }
            to {
                z-index: 30;
                position: relative;
                bottom: 0.20rem;
                right: 12rem;
                rotate: 0deg;
                transform: scale(8deg);
            }
        }
        /*********/
/**************************************/


/****** CLOSE2 ******/
    .ultimo_card{
        filter: opacity(40%);
        z-index: 10;
        width: 5rem;
    }

        /* LEFT */
        .card_lado_esquerdo.ultimo_card{
            bottom: -1rem;
            left: 1rem;
            transform: skew(0deg, 10deg);
            
            /* animation: closeLeftToRight 1s infinite */
        }
        /*********/


        /* RIGHT */
        .card_lado_direito.ultimo_card{
            transform: skew(0deg, -10deg);
        }
        /*********/
/**************************************/