

.items{
    width: 6rem;
    left: -3rem;
    top: -1.5rem;
    position: absolute;
}

.item-atual{
    z-index: 30;
}

.item-seguinte{
    opacity: 50%;
    z-index: 20;
    left: 9rem;
}
.item-seguinte-hidden{
    opacity: 0%;
    z-index: 0;
    left: 9rem;
}


.item-anterior{
    opacity: 50%;
    z-index: 10;
    left: -15rem;
}

.item-anterior-hidden{
    opacity: 0%;
    z-index: 0;
    left: -15rem;
}




/* Indo para a direita */
.movendoDireita-depois{
    transition: all;
    animation: animate0MovendoDireita 0.3s linear;
}

@keyframes animate0MovendoDireita{
    from {
        opacity: 50%;
    }
    to {
        left: calc(9rem + 0.7rem);
        opacity: 0%;
    }
}

.movendoDireita-main{
    transition: all;
    animation: animate1MovendoDireita 0.3s linear;
}

@keyframes animate1MovendoDireita{
    from {
        left: calc(0 + 0rem);
        opacity: 100%;
    }
    to {
        left: calc(100% + 9.1rem);
        opacity: 50%;
    }
}

.movendoDireita-antes{
    transition: all;
    animation: animate2MovendoDireita 0.3s linear;
}

@keyframes animate2MovendoDireita{
    from {
        left: calc(-15rem + 0rem);
        opacity: 50%;
    }
    to {
        left: calc(-15rem + 12rem);
        opacity: 100%;
    }
}

.movendoDireita-hidden-left{
    transition: all;
    opacity: 0%;
    animation: animateMovendoDireita_hidden 0.3s linear;
}

@keyframes animateMovendoDireita_hidden{
    from {
        opacity: 2%;
        left: calc(-16rem + 0rem);
    }
    to {
        opacity: 50%;
    }
}




/* Indo para a esquerda */
.movendoEsquerda-depois{
    transition: all;
    animation: animate0MovendoEsquerda 0.3s linear;
}

@keyframes animate0MovendoEsquerda{
    from {
        opacity: 50%;
    }
    to {
        left: calc(-15rem + 12rem);
        opacity: 100%;
    }
}

.movendoEsquerda-main{
    transition: all;
    animation: animate1MovendoEsquerda 0.3s linear;
}

@keyframes animate1MovendoEsquerda{
    from {
        opacity: 100%;
    }
    to {
        left: calc(0rem + -15rem);
        opacity: 50%;
    }
}

.movendoEsquerda-antes{
    transition: all;
    animation: animate2MovendoEsquerda 0.3s linear;
}

@keyframes animate2MovendoEsquerda{
    from {
        opacity: 50%;
    }
    to {
        opacity: 0%;
        left: calc(-15rem + -0.7rem)
    }
}

.movendoEsquerda-hidden-right{
    transition: all;
    opacity: 0%;
    animation: animateMovendoEsquerda_hidden 0.3s alternate;
}

@keyframes animateMovendoEsquerda_hidden{
    from {
        opacity: 2%;
        left: calc(10rem + 0rem);
    }
    to {
        opacity: 50%;
    }
}





.hidde_total{
    visibility: hidden;
}